.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

.is-active {
    background-color: aquamarine;
}

.nearMaxMass {
    font-style: italic;
    font-weight: bold;
    color: red;
}
